<% if (page.path == "index" || page.path == ".") page.path = "" %>
<% let locales = page.locales %>
<div class="languageSelector custom contextMenu">
  <% if (locales.length > 1) { %>
    <button class="icon text-arrow" data-action="toggle-context">
  <% } %>
    <label><%= page.locale %></label>
  <% if (locales.length > 1) { %>
    </button>
  <% } %>
  <ul>
  <% for (let locale of locales) { %>
    <% if (locale != page.locale) { %>
      <li>
        <a href="/<%= locale %>/<%= page.path %>">
          <%= site.localeMap[locale].name %>
        </a>
      </li>
    <% } %>
  <% } %>
  </ul>
</div>

<% include noscript %>
