<% if (currentPage == "index" || currentPage == ".") currentPage = "" %>
<% let pageLocales = getPageLocales() %>
<div class="languageSelector custom contextMenu">
  <% if (pageLocales.length > 1) { %>
    <button class="icon text-arrow">
  <% } %>
    <label><%= currentLocale %></label>
  <% if (pageLocales.length > 1) { %>
    </button>
  <% } %>
  <ul>
  <% for (let pageLocale of pageLocales) { %>
    <% if (pageLocale != currentLocale) { %>
      <li>
        <a href="/<%= pageLocale %>/<%= currentPage %>">
          <%= site.localeMap[pageLocale].name %>
        </a>
      </li>
    <% } %>
  <% } %>
  </ul>
</div>

<% include noscript %>
