<noscript>
  <ul>
    <% for (let locale of locales) { %>
      <% if (locale != page.locale) { %>
        <li>
          <a href="/<%= locale %>/<%= page.path %>"><%= locale %></a>
        </li>
      <% } %>
    <% } %>
  </ul>
</noscript>
