.DS_Store
node_modules
package-lock.json
content
public/css/highlightjs/tomorrow.css
public/css/presentation.css
public/css/index.css
public/css/main.css
public/js/main.js
public/js/presentation.js
.vscode/