<section>
  <h3>Accessibility</h3>
</section>

<section>
  <h3>hreflang</h3>
</section>

<section>
  <h3>Content-Language header</h3>
</section>

<section>
  <h3>alt attributes</h3>
</section>

<section>
  <h3>title attributes</h3>
</section>

<section>
  <h3>lang attribute</h3>
  <p>Declares the default language of document</p>
  <p>
    <pre>
      <code>
        &lt;html lang="de">&lt;/html>
      </code>
    </pre>
  </p>
</section>
