<section>
  <h3>Internationalization</h3>
</section>

<section>
  <h3>Translation files</h3>
  <p>JSON</p>
  <p>XML</p>
  <p>.po, .pot</p>
</section>

<section>
  <h3>Translation strings</h3>
  <div class="removable">
    <p class="fragment fade-up">String ID</p>
    <p class="fragment fade-up">Description</p>
    <p class="fragment fade-up">Message/Text</p>
  </div>
  <pre class="fragment fade-up" data-queue="remove-p"><code>
  /* /en/menu/header.json */
  {
    "menu-item-about": {
      "description": "Menu item label located in the header",
      "message": "About us"
    }
  }
  </code></pre>
  <pre class="fragment fade-up" data-queue="remove-p"><code>
  /* /ru/menu/header.json */
  {
    "menu-item-about": {
      "description": "Menu item label located in the header",
      "message": "О нас"
    }
  }
  </code></pre>
</section>

<section>
  <h3>Using translation strings</h3>
  <p class="fragment fade-up">Reference the translation file</p>
  <p class="fragment fade-up">Referrence to StringID</p>
  <pre class="fragment current-visible"><code>
  getText("stringId", "filePath")
  </code></pre>
  <pre class="fragment fade-up"><code>
  &lcub;stringId(filePath)&rcub;
  </code></pre>
  <pre class="fragment current-visible"><code>
  <ul>
    <li>
      {menu-item-about(menu/header)}
    </li>
  </ul>
  </code></pre>
  <pre class="fragment current-visible"><code>
  <ul>
    <li>
      About us
    </li>
  </ul>
  </code></pre>
  <pre class="fragment current-visible"><code>
  <ul>
    <li>
      О нас
    </li>
  </ul>
  </code></pre>
  <pre class="fragment current-visible"><code>
  <ul>
    <li>
      Apie mus
    </li>
  </ul>
  </code></pre>
</section>

<section style="font-size: 0.7em;">
  <h3>Word order</h3>
  <pre class="fragment fade-up"><code>
    I <a href="#link1" class="red">love</a> <a href="#link2" class="blue">you</a>
  </code></pre>
  <p class="fragment fade-up">I <a href="#link1" class="red" style="color: palevioletred;">love</a> <a href="#link2"  class="blue" style="color: royalblue;">you</a> <sup>[SVO ~42%]</sup></p>
  <p class="fragment fade-up">I <a href="#link2"  class="blue" style="color: royalblue;">you</a> <a href="#link1" class="red" style="color: palevioletred;">love</a> <sup>[SOV ~45%]</sup></p>
  <p class="fragment fade-up"><a href="#link1" class="red" style="color: palevioletred;">love</a> I <a href="#link2"  class="blue" style="color: royalblue;">you</a> <sup>[VSO ~9%]</sup></p>
  <p class="fragment fade-up"><a href="#link1" class="red" style="color: palevioletred;">love</a> <a href="#link2"  class="blue" style="color: royalblue;">you</a> I <sup>[VOS ~3%]</sup></p>
  <p class="fragment fade-up"><a href="#link2"  class="blue" style="color: royalblue;">you</a> I <a href="#link1" class="red" style="color: palevioletred;">love</a> <sup>[OVS ~1%]</sup></p>
  <pre class="fragment current-visible"><code>
  {
    "like-button-title": {
      "message": "je <a2>t'</a2><a1>aime</a1>"
    }
  }
  </code></pre>
  <pre class="fragment current-visible"><code>
  {
    "like-button-title": {
      "message": "eu <a2>te</a2> <a1>amo</a1>"
    }
  }
  </code></pre>
  <pre class="fragment current-visible"><code>
  {
    "like-button-title": {
      "message": "Aš <a2>tave</a2> <a1>myliu</a1>"
    }
  }
  </code></pre>
</section>
