<section>
  <h3>Localiz(s)ation vs Intenationaliz(s)ation</h3>
</section>
<section>
  <h3>Date</h3>
  <p>Date: <a href="https://en.wikipedia.org/wiki/Date_format_by_country">12/11/2018</a></p>
  <pre class="fragment fade-up">
    <code>
  const date = new Date(2018, 10, 12);
  console.log(new Intl.DateTimeFormat('en-GB').format(date));
  console.log(new Intl.DateTimeFormat('en-US').format(date));
  console.log(new Intl.DateTimeFormat('lt-LT').format(date));
    </code>
  </pre>
  <p class="fragment fade-up">
    12/11/2018
    <br/>
    11/12/2018
    <br/>
    2018-11-12
  </p>
  <aside class="notes">
    For more comprehensive date and time usage there are libraries like
    <a href="https://momentjs.com/">Moment.js</a>
  </aside>
</section>
<section>
    <h3>Decimal separators</h3>
    <p>Number: 1234567.89</p>
    <pre class="fragment fade-up">
      <code>
  const number = 1234567.89;
  console.log(new Intl.NumberFormat('en-US').format(number));
  console.log(new Intl.NumberFormat('fr-FR').format(number));
  console.log(new Intl.NumberFormat('de-CH').format(number));
  console.log(new Intl.NumberFormat('es-ES').format(number));
      </code>
    </pre>
    <p class="fragment fade-up">
        en-US: 1,234,567.89 <br/>
        fr-FR: 1 234 567,89 <br/>
        de-CH: 1’234’567.89 <br/>
        es-ES: 1.234.567,89
    </p>
</section>
<section>
  <h3>Order</h3>
  <p class="fragment fade-up">Bob</p>
  <p class="fragment fade-up">Nika</p>
  <p class="fragment fade-up" data-queue="move-item-up">Yves</p>
  <pre class="fragment fade-up"><code class="js">
  const items = ["Bob", "Nika", "Yves"];
  console.log(items.sort((a, b) => a.localeCompare(b)));
  console.log(items.sort((a, b) => a.localeCompare(b, 'lt')));
  </code></pre>
</section>
