<section data-background-image="/pain-points/images/abp-options-ltr.png" data-background-size="auto 100%">
</section>
<section data-background-image="/pain-points/images/abp-options-rtl.png" data-background-size="auto 100%">
</section>
<section data-background-image="/pain-points/images/abp-options-ar-advanced.png" data-background-size="auto 100%">
</section>
<section>
  <pre>
    <code>
      &lt;html dir="rtl">&lt;/html>
    </code>
  </pre>
  <div dir="rtl" style="display: inline-block; border: 1px solid grey; padding: 10px;">
    <label>Change me to smth meaninigful </label>
    <div style="display: inline-block">
      <button style="width: 100px; font-size: 30px;">
        Done
      </button>
    </div>
  </div>
</section>
