<section>
  <h3>SEO</h3>
</section>

<section>
  <h3>Translate page title and description</h3>
  <pre><code>
  &lt;head>
    <title>Title of my page</title>
    <meta property="og:title" content="Title I use for social media">
    <meta name="description" content="Translating me for each individual locale will help you reach more people">
    <meta property="og:description" content="Translating me for each individual locale will help you reach more people">
  &lt;/head>
  </code></pre>
</section>

<section>
  <h3>Use Canonical and alternate</h3>
  
</section>
