<section id="a11y">
  <h3>{Accessibility[Slide title] Accessibility}</h3>
</section>

<section id="lang-attribute">
  <h3>{lang-attr[Slide title] <fix>lang</fix> attribute}</h3>
  <p>{lang-attr-p[Point in "lang attribute" slide] Declares default language of the document}</p>
  <p>
    <pre><code>
    &lt;html lang="de">&lt;/html>
    </code></pre>
  </p>
</section>

<section id="hreflang">
  <h3>hreflang</h3>
  <pre class="fragment fade-up"><code>
  &lt;a href="/de/documentation" hreflang="de">Dokumentation&lt;/a>
  &lt;a href="/en/address" hreflang="en">Address&lt;/a>
  </code></pre>
  <pre class="fragment fade-up"><code>
  a[hreflang]:after
  {
    content: "["attr(hreflang)"]"; 
    color: #999;
    vertical-align: super;
    font-size: 50%;
  }
    </code></pre>
  <p class="fragment fade-up show-hreflang">
    <a href="https://example.com/de/documentation" hreflang="de">Dokumentation</a><br>
    <a href="https://example.com/en/address" hreflang="en">Address</a>
  </p>
</section>

<section id="accept-language">
  <h3>{accept-language[Slide title] <fix>Accept-Language</fix> header}</h3>
  <pre class="fragment fade-up"><code>
  Accept-Language : en-US,en;q=0.9,ru-RU;q=0.8,ru;q=0.7,
                    hy-AM;q=0.6,hy;q=0.5
  </code></pre>
  <pre class="fragment fade-up"><code>
  console.log(navigator.languages); // ["en-US", "ru", "es"]
  </code></pre>
  <p class="fragment fade-up">{accept-language-p[Point in "Accept-Language header" slide] <fix><code>q</code></fix> - Weight of the locale}</p>
</section>
<section id="chrome-language" data-background-image="<%= site.root %>/presentation/images/select-language.png" data-background-size="auto 100%"></section>
<section id="german-ad" data-background-image="<%= site.root %>/presentation/images/german-ad.png" data-background-size="auto 100%"></section>

<!-- Attributes -->
<section id="attributes">
  <h3>{attributes[Slide title] Attributes}</h3>
  <pre><code>
  <div title="Svetainės logotipas" id="logo">
    &lt;img src="/images/puma.svg" alt="Šokinėja puma" />
  </div>
  </code></pre>
</section>
