<section id="Comprehensive">
  <h3>Comprehensive i18n website development tool</h3>
</section>

<section id="simple">
  <h3>Lightweight and simple</h3>
</section>

<section id="out-of-box">
  <h3>Out of the box</h3>
</section>

<section id="cmints">
  <h3>CMintS</h3>
  <p><a href="https://cmints.io/">https://cmints.io/</a></p>
</section>
