<section id="cms-choice">
  <h3>{simple-website[Slide title] Create a simple website}</h3>
  <ul id="features-list">
    <li class="static-content fragment fade-up">{simple-website-static[Point in "simple website" slide] Static content generation}</li>
    <li class="templating-engine fragment fade-up">{simple-website-tmpl[Point in "simple website" slide] Templating engine}</li>
    <li class="front-matter fragment fade-up">Front Matter</li>
    <li class="preprocessor fragment fade-up">Preprocessors (LESS or SASS)</li>
    <li class="i18n fragment fade-up">i18n
      <ul>
        <li class="layout">{simple-website-layout[Point in "simple website" slide] Layout}</li>
        <li class="tms">{simple-website-tms[Point in "simple website" slide] <fix>TMS</fix> integration}</li>
        <li class="markdown">Markdown</li>
      </ul>
    </li>
  </ul>
  <ul class="static-gens fragment fade-up">
    <li>
      <a href="https://jekyllrb.com/" data-hover="highlight-feature" data-info="jekyll">
        <img src="<%= site.root %>/presentation/images/jekyll-logo.png" />
      </a>
    </li>
    <li>
      <a href="http://gohugo.io/" data-hover="highlight-feature" data-info="hexo">
        <img src="<%= site.root %>/presentation/images/hexo-logo.svg" />
      </a>
    </li>
    <li>
      <a href="https://hexo.io/" data-hover="highlight-feature" data-info="hugo">
        <img src="<%= site.root %>/presentation/images/hugo-logo.png" />
      </a>
    </li>
  </ul>
</section>
