<section id="contacts">
  <h3>{follow-contact[Slide title] Follow/Contact}</h3>
  <ul>
    <li><strong>Github:</strong> <a href="https://github.com/Manvel" target="_blank">https://github.com/Manvel</a></li>
    <li><strong>Gitlab:</strong> <a href="https://gitlab.com/saroyanm" target="_blank">https://gitlab.com/saroyanm</a></li>
    <li><strong>Twitter:</strong> <a href="https://twitter.com/saroyanm" target="_blank">@saroyanm</a></li>
    <li><strong>Email:</strong> <a href="mailto:saroyanm@gmail.com">saroyanm@gmail.com</a></li>
    <li><strong>Email(eyeo):</strong> <a href="mailto:manvel@adblockplus.org">manvel@adblockplus.org</a></li>
    <li><strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/saroyanm/" target="_blank">/in/saroyanm</a></li>
  </ul>
</section>
