<section id="fonts">
  <h3>{fonts[SLide title] Fonts}</h3>
  <p class="fragment fade-up">{fonts-p1[Point in "Fonts" slide] Supported by target languages}</p>
  <p class="fragment fade-up">{fonts-p2[Point in "Fonts" slide] Consider fallbacks}</p>
  <p class="fragment fade-up">{fonts-p3[Point in "Fonts" slide] Make use of unicode Ranges}</p>
</section>
<section id="big-font-file" data-background-image="/presentation/images/source-sans-pro.png" data-background-size="auto 100%">
  <p class="fragment fade-up" style="color:red">350kb woff2 <br/>1.1mb ttf</p>
</section>
<section id="unicode-range">
  <h3>{unicode-range[Slide title] Unicode range <fix>(5-18kb)</fix>}</h3>
  <pre class="fragment fade-up"><code>
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro'), url("300.woff2") format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  </code></pre>
  <a class="fragment fade-up" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese">
    https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese
  </a>
</section>