<section class="intro">
  <h3 class="char-jumper">Internationali<span class="behind-char-jumper"><span>Z</span><span>S</span></span>ation <span class="behind-char-jumper"><span>M</span><span>P</span></span>ain Points</h3>
  <p class="fragment fade-up" data-action="play-char-jumper">By Manvel Saroyan</p>
</section>


<section>
  <h3>Me + i18n</h3>
  <ul>
    <li class="fragment fade-up">Speak 3.1 Languages</li>
    <li class="fragment fade-up"><a href="https://www.be2.com/">Be2</a> and C-date</li>
    <li class="fragment fade-up">Chrome extensions</li>
    <li class="fragment fade-up">Websites for <a href="https://eyeo.com/">eyeo</a></li>
    <li class="fragment fade-up"><a href="https://adblockplus.org/">Adblock Plus</a> UI</li>
  </ul>
</section>
