<section class="intro" id="start">
  <h3 class="char-jumper">{main-title[presentation title] Internationali<span class="behind-char-jumper"><span>Z</span><span>S</span></span>ation <span class="behind-char-jumper"><span>M</span><span>P</span></span>ain Points}
  </h3>
  <p class="fragment fade-up" data-action="play-char-jumper">By Manvel Saroyan</p>
  <div class="language-management">
    <div id="toc-item"><a href="#/toc" class="icon toc"></a></div>
    <% include ../../partials/languageSelector/custom %>
    <% include ../../partials/editPage %>
  </div>
</section>

<section id="me-i18n">
  <h3>{me-i18n["Me + i18n" slide title] Me + i18n}</h3>
  <ul>
    <li class="fragment fade-up">{me-i18n-li1[point in "Me + i18n" slide] Speak <fix>3.1</fix> Languages}</li>
    <li class="fragment fade-up">{me-i18n-li2[point in "Me + i18n" slide] <fix><a href="https://www.be2.com/">Be2</a></fix> and <fix>C-date</fix>}</li>
    <li class="fragment fade-up">{me-i18n-li3[point in "Me + i18n" slide] Chrome extensions}</li>
    <li class="fragment fade-up">{me-i18n-li4[point in "Me + i18n" slide] Websites for <fix><a href="https://eyeo.com/">eyeo</a></fix>}</li>
    <li class="fragment fade-up">{me-i18n-li5[point in "Me + i18n" slide] <fix><a href="https://adblockplus.org/">Adblock Plus</a></fix> UI}</li>
  </ul>
</section>
