<section id="l10n">
  <h3 class="jump-chars" data-click-action="play-animation">{l10n[Slide title] Locali<span>z</span><span>s</span>ation}</h3>
</section>
<section id="date-format-meme" data-background-image="/presentation/images/date-format-meme.jpg" data-background-size="auto 100%"></section>
<section id="date">
  <h3>{date[Slide title] Date}</h3>
  <p>{date-p1[Point in "Date" slide] Date: <fix><a href="https://en.wikipedia.org/wiki/Date_format_by_country">12/11/2018</a></fix>}</p>
  <pre class="fragment fade-up"><code>
  const date = new Date(2018, 10, 12);
  console.log(new Intl.DateTimeFormat('en-GB').format(date));
  console.log(new Intl.DateTimeFormat('en-US').format(date));
  console.log(new Intl.DateTimeFormat('lt-LT').format(date));
  console.log(new Intl.DateTimeFormat('hy-AM').format(date));
  </code></pre>
  <p class="fragment fade-up">
    12/11/2018
    <br/>
    11/12/2018
    <br/>
    2018-11-12
    <br/>
    <a href="https://bugs.chromium.org/p/chromium/issues/detail?id=842524">12.11.2018</a>
  </p>
  <aside class="notes">
    For more comprehensive date and time usage there are libraries like
    <a href="https://momentjs.com/">Moment.js</a>
  </aside>
</section>
<section id="decimal-separator">
  <h3>{decimal-sep[Slide title] Decimal separators}</h3>
  <p>{decimal-sep-p1[Point in "Decimal separators" slide] Number: <fix>1234567.89</fix>}</p>
  <pre class="fragment fade-up"><code>
  const number = 1234567.89;
  console.log(new Intl.NumberFormat('en-US').format(number));
  console.log(new Intl.NumberFormat('fr-FR').format(number));
  console.log(new Intl.NumberFormat('de-CH').format(number));
  console.log(new Intl.NumberFormat('es-ES').format(number));
  </code></pre>
  <p class="fragment fade-up">
      en-US: 1,234,567.89 <br/>
      fr-FR: 1 234 567,89 <br/>
      de-CH: 1’234’567.89 <br/>
      es-ES: 1.234.567,89
  </p>
</section>
<section id="order">
  <h3>{order[Slide title] Order}</h3>
  <ul class="order">
    <li class="fragment fade-up">Bob</li>
    <li class="fragment fade-up move-down">Nika</li>
    <li class="fragment fade-up move-up" data-queue="move-item-up">Yves</li>
  </ul>
  <pre class="fragment fade-up"><code class="js">
  const items = ["Bob", "Nika", "Yves"];
  console.log(items.sort((a, b) => a.localeCompare(b)));
  console.log(items.sort((a, b) => a.localeCompare(b, 'lt')));
  </code></pre>
</section>
