<section id="layout">
  <h3>{layouts-fix[Slide title] Layouts designed for the fixed width}</h3>
  <p class="fragment fade-up" data-fragment-index="1">
    <select id="fix-dir-select" data-change="set-button-german">
      <option>{select-language[Drop down item in "fixed Layouts" slides] Select language}</option>
      <option value="de">Deutsch (DE)</option>
    </select>
  </p>
  <p>
    <div id="fix-dir-layout">
      <div class="msg-wrapper"><label id="fixed-label">Review your notification settings</label></div>
      <div style="display: inline-block">
        <button id="done-button">
          Done
        </button>
      </div>
    </div>
  </p>
  <pre data-fragment-index="1" class="fragment current-visible"><code>
  button
  {
    width: 120px;
  }
  </code></pre>
  <pre class="fragment current-visible" data-action="add-flexible-width"><code>
  button
  {
    /* width: 120px; */
    padding: 0 10px;
  }
  </code></pre>
  <pre class="fragment current-visible" data-action="add-right-margin"><code>
  .message-next-to-button
  {
    margin-right: 100px;
  }
  </code></pre>
  <pre class="fragment current-visible" data-action="add-left-margin" style="font-size: 50%"><code>
  .message-next-to-button
  {
    /* Use with precaution  */
    margin-inline-end: 100px; 
    -webkit-margin-end: 100px;
  }
  html:not([dir="rtl"]) .message-next-to-button
  {
    margin-right: 100px;
  }
  html([dir="rtl"]) .message-next-to-button
  {
    margin-left: 100px;
  }
  </code></pre>
</section>
