<section id="pages">
  <h3>{pages[Slide title] Pages}</h3>
  <p class="fragment fade-up">{pages-p[Point in "Pages" slide] Serve page per locale}</p>
  <pre class="fragment fade-up"><code>
  // From Hexo website
  /en/index.html
  /zh-tw/index.html

  // From Hugo website
  /content/about.md
  /content/about.fr.md
  </code></pre>
  <aside class="notes">
  Hugo and Hexo are both great tools, but this architecture doesn't meet my requirement
  </aside>
</section>

<section id="markdown">
  <h3>{pages-markdown[Slide title] <fix>Markdown</fix> page}</h3>
  <pre class="fragment fade-up" style="font-size: 15px;"><code>
  ## Translation strings

  The translation strings can be defined in the source files by placing them
  inside of opening and closing curly braces. Translation string consist of
  stringId, optional description and source text:

  ## Heading IDs in markdown

  Markdown headers are automatically getting ID set to them, for the future
  reference and TOC generation, whenever a translation string is used as a
  markdown heading element text translation StringID is used as a header ID.
  </code></pre>
  <p class="fragment fade-up current-visible">&lcub;StringId[Description] Message}</p>
  <pre class="fragment fade-up" style="font-size: 15px;" data-dequeue="true"><code>
  ## &lcub;translation-strings[Page heading] Translation strings}

  &lcub;translation-strings-p[Paragraph in 'Translation strings' section]
  The translation strings can be defined in the source files by placing them
  inside of opening and closing curly braces. Translation string consist of
  stringId, optional description and source text:
  }

  ## &lcub;markdown-heading-id[Page heading] Heading IDs in markdown}

  &lcub;markdown-heading-id-p[Paragraph in 'Heading IDs in markdown' section]
  Markdown headers are automatically getting ID set to them, for the future
  reference and TOC generation, whenever a translation string is used as a
  markdown heading element text translation StringID is used as a header ID.
  }
  </code></pre>
</section>
