<section id="resources">
  <h3>{resources[Slide title] Resources}</h3>
  <ul>
    <li><a href="https://developer.chrome.com/extensions/i18n">Chrome/Web extensions</a></li>
    <li><a href="https://developer.android.com/guide/topics/resources/localization">Android l10n</a></li>
    <li><a href="https://docs.djangoproject.com/en/2.0/topics/i18n/">Django</a></li>
    <li><a href="https://laravel.com/docs/5.6/localization">laravel</a></li>
    <li><a href="https://symfony.com/components/Translation">Symfony</a></li>
  </ul>
</section>

<section>
  <h3>{libraries-frameworks[Slide title] Libraries/Frameworks}</h3>
  <ul>
    <li><a href="https://www.i18next.com/">i18next</a></li>
    <li><a href="https://github.com/mashpie/i18n-node">i18n-node</a></li>
    <li><a href="http://airbnb.io/polyglot.js/" title="Airbnb">Polyglot.js</a></li>
    <li><a href="https://github.com/wikimedia/jquery.i18n" title="wikimedia">jquery.i18n</a></li>
  </ul>
</section>

<section id="i18n-libs">
  <h3>{resources}</h3>
  <ul>
    <li><a href="https://kazupon.github.io/vue-i18n/">vue-i18n</a></li>
    <li><a href="https://angular-translate.github.io/">angular-translate</a></li>
    <li><a href="https://github.com/yahoo/react-intl/">react-intl</a></li>
    <li><a href="https://github.com/svenfuchs/rails-i18n">rails-i18n</a></li>
  </ul>
</section>