<!-- RTL -->
<section id="dir-rtl">
  <h3>{directions[Slide title] Direction}</h3>
  <pre><code>
  &lt;html dir="rtl">&lt;/html>
  </code></pre>
</section>

<section id="ltr" data-background-image="/presentation/images/abp-options-ltr.png" data-background-size="auto 100%">
</section>
<section id="rtl" data-background-image="/presentation/images/abp-options-rtl.png" data-background-size="auto 100%">
</section>
<section id="rtl-ar" data-background-image="/presentation/images/abp-options-ar-advanced.png" data-background-size="auto 100%">
</section>

<section id="direction" class="common-rtl-issues">
  <h3>{directions}</h3>
  <div class="header">
    <ul id="menu-items">
      <li></li>
      <li></li>
      <li>
        <select data-change="set-header-rtl" style="vertical-align: middle;">
          <option>English</option>
          <option>العربية (AR)</option>
        </select>
      </li>
    </ul>

    <button class="hamburger"></button>
  </div>
  <pre style="font-size: 1rem" class="html target fragment fade-up"><code>
    &lt;html>
    <header class="header">
      <ul id="menu-items"></ul>
      <button class="hamburger"></button>
    </header>
  </code></pre>
  <pre style="display: none; font-size: 1rem; " class="html source"><code>
    &lt;html dir="rtl" lang="ar">
    <header class="header">
      <ul id="menu-items"></ul>
      <button class="hamburger"></button>
    </header>
  </code></pre>
  <pre style="font-size: 1rem" class="css fragment current-visible"><code>
  .hamburger
  {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  </code></pre>
  <pre style="font-size: 1rem" class="fragment current-visible" data-action="adjust-rtl"><code>
  .hamburger
  {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  [dir="rtl"] .hamburger
  {
    left: 10px;
    right: 0;
  }
  </code></pre>
  <pre style="font-size: 1rem" class="fragment current-visible"><code>
  header
  {
    display: flex;
  }
  #menu-items
  {
    list-style: none;
    display: flex;
    flex-grow: 1;
  }
  </code></pre>
</section>