<section id="seo">
  <h3>SEO</h3>
</section>

<section id="title-desc">
  <h3>{seo-title-desc[Slide title] Translate page title and description}</h3>
  <pre><code>
  &lt;head>
    &lt;title>Surfez sans désagrément</title>
    &lt;meta name="description" content="Adblock Plus est le bloqueur de publicités le plus populaire">
  &lt;/head>
  </code></pre>
</section>

<section id="rel-alternate-hreflang">
  <h3>rel-alternate-hreflang</h3>
  <ul class="fragment fade-up" style="list-style: none;">
    <li>English: <a href="#">http://www.example.com/en</a></li>
    <li>Spanish: <a href="#">http://www.example.com/es</a></li>
    <li>German: <a href="#">http://www.example.com/de</a></li>
  </ul>
  <pre style="font-size: 1.2rem;" class="fragment fade-in"><code>
  &lt;html lang="de">
  &lt;head>
    &lt;link rel="alternate" href="http://www.example.com/en" hreflang="en">
    &lt;link rel="alternate" href="http://www.example.com/es" hreflang="es">
  ...
  &lt;head>
  </code></pre>
  <aside class="notes">
  Helps search engine to better understand your i18n site.
  </aside>
</section>

<section id="caononical">
  <h3>{canonical[Slide title] Use <fix>canonical</fix> for duplicate content}</h3>
  <ul class="fragment fade-up" style="list-style: none;">
    <li><a href="#">https://example.com</a></li>
    <li><a href="#">https://example.com/en</a></li>
  </ul>
  <pre class="fragment fade-up"><code>
  <link rel="canonical" href="https://example.com">
  </code></pre>
  <aside class="notes">
    Or use redirect
  </aside>
</section>
