<section id="smm">
  <h3>SMM/SMO</h3>
  <pre class="fragment fade-up" style="font-size: 1rem"><code>
  <meta property="og:image" content="/images/thumbnail-de.png">
  <meta property="og:title" content="Surfez sans désagrément">
  <meta property="og:description" content="Adblock Plus est le bloqueur de publicités le plus populaire">

  <meta name="og:locale" content="fr_FR">
  <meta name="og:locale:alternate" content="es_ES">
  <meta name="og:locale:alternate" content="es_MX">
  </code></pre>
</section>
