<section id="structre">
  <h3>{structure[Slide title] Structure}</h3>
  <ul>
    <li>Locales</li>
    <li>Layouts/Themes</li>
    <li>Pages/Content</li>
  </ul>
  <pre class="fragment current-visible"><code>
  locales
  ├── de
  │   ├── about.json
  │   └── header.json
  ├── en
  │   ├── about.json
  │   └── header.json
  └── ru
      ├── about
      └── header.json
  </code></pre>
  <pre class="fragment current-visible"><code>
  theme
  ├── layouts
  │   ├── default.ejs
  │   └── home.ejs
  └── less/sass
      ├── _header.less
      ├── index.less
      └── main.less
  </code></pre>
  <pre class="fragment current-visible"><code>
  pages
  ├── about
  │   └── team.md
  ├── about.md
  ├── index.ejs
  └── news.md
  </code></pre>
</section>
