<section id="tms">
  <h3>Translation management tools</h3>
  <ul>
    <li><a href="https://translate.google.com/toolkit/">Google Translator Toolkit</a></li>
    <li><a href="https://crowdin.com/">Crowdin</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localizing_with_Pontoon">Pontoon</a></li>
    <li><a href="https://pootle.translatehouse.org/">Pootle</a></li>
  </ul>
</section>
