<!DOCTYPE html>
<html lang="<%= page.locale %>">
<head>
  <% include partials/head/main %>
</head>
<body>
  <% include partials/header %>
<main class="device">
  <div class="col5">
    <!-- Navigation Start -->
    <%if (page.categories.includes("documentation")) { %> 
      <aside id="sideNav" class="cell1 tablet-hide">
        <ul>
          <% include partials/navigations/secondary %>
        </ul>
      </aside>
    <% } %>
    <!-- Navigation End -->

    <article class="cell2-4">
      <h1>{title}</h1>
      <% include partials/editPage %>
      <%- body %>
    </article>

    <!-- TOC Start -->
    <%if (page.showTOC) { %>
      <aside id="toc" class="cell5 center tablet-hide">
        <h2>{toc-sidebar-header(common)}</h2>
        <%- include('partials/navigations/toc', {items: page.markdown.toc.children}) %>
      </aside>
    <% } %>
    <!-- TOC End -->
  </div>
</main>
  <% include partials/footer %>
</body>
</html>
