<!DOCTYPE html>
<html lang="<%= currentLocale %>">
<head>
  <% include partials/head %>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <% include partials/header %>
<main>
  <%- body %>
</main>
  <% include partials/footer %>
</body>
</html>