<!DOCTYPE html>
<html lang="<%= page.locale %>">
<head>
  <% include partials/head/redirect %>
  <% include partials/head/main %>
  <link rel="stylesheet" type="text/css" href="<%= site.root %>/css/index.css">
</head>
<body>
  <% include partials/header %>
<main>
  <%- page.body %>
</main>
  <% include partials/footer %>
</body>
</html>