<footer>
  <div class="col5 middle">
    <div class="cell2 center">
      © 2018 <a href="https://github.com/cmints/cmints" target="_blank" rel="noopener">CMintS</a>
    </div>
    <div class="cell3-4 center">
      {footer-license-text(common)} <a href="http://creativecommons.org/licenses/by/4.0/" rel="license noopener" target="_blank">Creative Commons 4.0</a>
    </div>
  </div>
</footer>
