<footer>
  <div class="col5 middle">
    <div class="cell1-2 center">
      <h3>
        Resources
      </h3>
      <ul>
        <li><a href="https://single.cmints.io" target="_blank">Single language starter</a></li>
        <li><a href="https://multi.cmints.io" target="_blank">Multi language starter</a></li>
        <li><a href="https://cmints.io/presentation" target="_blank">Slides</a></li>
      </ul>
    </div>
    <div class="cell3-5 center">
      {footer-license-text(common)} <a href="http://creativecommons.org/licenses/by/4.0/" rel="license noopener" target="_blank">Creative Commons 4.0</a><br>
      © 2019 <a href="https://github.com/cmints/cmints" target="_blank" rel="noopener">CMintS</a>
    </div>
  </div>
</footer>
