<title><%= site.title %> | {title[Page title] <%= page.title %>}</title>
<meta property="og:title" content="{title}">
<meta content="{description[Page description] <%= page.description %>}" name="description">
<meta content="{description}" property="og:description">
<% include meta %>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="/js/main.js" defer></script>
<% include analytics %>
