<header>
  <div class="col5 middle device tablet-hide">
    <nav class="cell1-4">
      <ul>
        <li>
           <a href="/" class="cell1 end">
             <img src="<%= site.root %>/images/logo.png" alt="CMintS logo">
             <span class="beta">beta</span>
            </a>
        </li>
        <% include navigations/main %>
      </ul>
    </nav>
    <ul class="cell5 end">
      <li>
        <% include languageSelector/custom %>
      </li>
      <li>
        <a href="https://github.com/Manvel/cmints" target="_blank" rel="noopener">
          <img src="<%= site.root %>/images/github-mark.png" alt="Github logo">
        </a>
      </li>
    </ul>
  </div>
  <div class="desktop-hide">
    <div class="col2">
      <a href="/" class="cell1 start middle">
        <img src="<%= site.root %>/images/logo.png" alt="CMintS logo">
        <span class="beta">beta</span>
      </a>
      <button class="cell2 end" id="hamburger" aria-label="Open primary navigation"></button>
    </div>
    <nav id="hamburger-menu">
      <ul>
        <% include navigations/main %>
        <%if (page.categories && page.categories.includes("documentation")) { %> 
          <% include navigations/secondary %>
        <% } %>
        <li>
            <% include languageSelector/native %>
        </li>
      </ul>
    </nav>
  </div>
</header>
