<% for (let navigation of navigations) { %>
  <li>
    <a <%-href(navigation.path)%>
      <% if (currentPage == navigation.path || currentPage.includes(navigation.contains)) { %>class="active"<% } %>>
      {<%-navigation.stringId%>(common)}
    </a>
  </li>
<% } %>