<% items.sort((a, b) => a.metadata.order > b.metadata.order).forEach(function(item){ %>
  <li>
    <% let title = ""; %>
    <% if (item.metadata.navTitleId) { %>
      <% title = "{" + item.metadata.navTitleId + "(common)}"; %>
    <% } else if (item.metadata.title) { %>
      <% title = item.metadata.title; %>
    <% } else { %>
      <% title = item.url; %>
    <% } %>
    <% if (item.url) { %>
      <a <%-href(item.url)%>
        <% if (item.url == currentPage) { %>class="active"<% } %>>
        <%= title %>
      </a>
    <% } else { %>
      <%= title %>
    <% } %>
  </li>
<% }) %>
