@import "_variables.less";
@import "_fonts.less";
@import "_mixins.less";
@import "_grid.less";
@import "_header.less";
@import "_contextMenu.less";
@import "_languageSelector.less";
@import "_sidebars.less";
@import "_footer.less";
@import "_icons.less";
@import "_editPage.less";
@import "highlightjs/tomorrow";

body
{
  color: @content;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif, "DejaVu Sans";
  line-height: 1.5rem;
}

a
{
  color: @primary;
  text-decoration: none;
}

.device
{
  max-width: @desktop-width;
  margin-left: auto;
  margin-right: auto;
}

main
{
  padding: 2rem 0;
}

/* Content */
article
{
  position: relative;
  h1
  {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 0px;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px @tertiary;
  }
  h2
  {
    font-size: 1.4rem;
  }
  h3
  {
    font-size: 1.2rem;
  }
  h4
  {
    font-size: 1.1rem;
  }
  h5
  {
    font-size: 1rem;
  }
  code
  {
    background-color: @secondary;
    padding: 0.3rem;
    overflow: hidden;
    overflow-x: auto;
  }
  pre code
  {
    line-height: 1rem;
    display: block;
    padding: 1rem;
  }
  a:hover
  {
    text-decoration: underline;
  }
  img
  {
    max-width: 100%;
  }
  table
  {
    th
    {
      text-align: left;
    }
    tr
    {
      td, th
      {
        &:not(:first-of-type)
        {
          padding: 0 10px;
        }
      }
      th
      {
        border-bottom: 1px solid @tertiary;
      }
    }
  }
}

@media (min-width: @tablet-width)
{
  .desktop-hide
  {
    display: none;
  }
}

@media (max-width: @tablet-width)
{
  .tablet-hide
  {
    display: none;
  }
  article
  {
    padding: 0px 1rem;
  }
}
