<section id="cms-choice">
  <h3>Create a simple website</h3>
  <ul id="features-list">
    <li class="static-content fragment fade-up">Static content generation</li>
    <li class="templating-engine fragment fade-up">Templating engine</li>
    <li class="front-matter fragment fade-up">Front Matter</li>
    <li class="preprocessor fragment fade-up">Preprocessors (LESS or SASS)</li>
    <li class="i18n fragment fade-up">i18n
      <ul>
        <li class="layout">Layout</li>
        <li class="tms">TMS integration</li>
        <li class="markdown">Markdown</li>
      </ul>
    </li>
  </ul>
  <ul class="static-gens fragment fade-up">
    <li>
      <a href="https://jekyllrb.com/" data-hover="highlight-feature" data-info="jekyll">
        <img src="/main-points/images/jekyll-logo.png" />
      </a>
    </li>
    <li>
      <a href="http://gohugo.io/" data-hover="highlight-feature" data-info="hexo">
        <img src="/main-points/images/hexo-logo.svg" />
      </a>
    </li>
    <li>
      <a href="https://hexo.io/" data-hover="highlight-feature" data-info="hugo">
        <img src="/main-points/images/hugo-logo.png" />
      </a>
    </li>
  </ul>
</section>
