<section data-background-image="main-points/images/macbook.svg">
  <h2>Internationalization Pain Points</h2>
  <p>By Manvel Saroyan</p>
  <pre>
    <code>
      /* /en/menu/header.json */
      {
        "menu-item-about": {
          "description": "Menu item label",
          "message": "about us"
        }
      }
    </code>
  </pre>
</section>
