<section id="showcase">
  <h3>Layouts designed for the fixed width</h3>
  <p class="fragment fade-up" data-fragment-index="1" data-queue="add-flexible-width">
    <select data-change="set-button-german">
      <option>Select language</option>
      <option>Deutsch</option>
    </select>
  </p>
  <p>
    <div style="display: inline-block; border: 1px solid grey; padding: 10px;">
      <label>Change me to smth meaninigful </label>
      <div style="display: inline-block">
        <button id="done-button" style="width: 100px; font-size: 30px;">
          Done
        </button>
      </div>
    </div>
  </p>
</section>

<section>
  <h3>margin-inline-start and [dir="rtl"] tweaks</h3>
  <p>writing-mode</p>
</section>
