<% include slides/intro %>
<% include slides/fixed-width %>
<% include slides/l10n %>
<% include slides/a11y %>
<% include slides/fonts %>
<% include slides/rtl %>
<% include slides/seo %>

<section>
  <h3>Name = Nika </h3>
  <p class="fragment fade-up">{Name} was tagged in photo</p>
  <p class="fragment fade-up">{Name} был(а) отметмечен(а) на фотографии</p>
  <p class="fragment fade-up">{Name}ին նշել են նկարում</p>
</section>

<section>
  ### Content-Language header
</section>

<section>
  <p class="fragment grow">grow</p>
  <p class="fragment shrink">shrink</p>
  <p class="fragment fade-out">fade-out</p>
  <p class="fragment fade-up">fade-up (also down, left and right!)</p>
  <p class="fragment current-visible">visible only once</p>
  <p class="fragment highlight-current-blue">blue only once</p>
  <p class="fragment highlight-red">highlight-red</p>
  <p class="fragment highlight-green">highlight-green</p>
  <p class="fragment highlight-blue">highlight-blue</p>
</section>
<section>{crowdin-example[Example Description for the Crowdin team] This is the <a href="https//www.example1.com">first link</a> and <a href="https//www.example2.com">second link</a>}</section>
