<% for(const {category, titleId} of site.secondaryNavigations.documentation) { %>
  <% let items = site.queryPages((data) => data.categories &&
                                          data.categories.includes("documentation") &&
                                          data.categories.includes(category)) %>
  <li>
      <h2>{<%= titleId %>(navigation)}</h2>
  </li>

  <ul>
    <% items.sort((a, b) => a.order > b.order).forEach(function(item){ %>
      <li>
        <% let title = ""; %>
        <% if (item.navTitleId) { %>
          <% title = "{" + item.navTitleId + "(navigation)}"; %>
        <% } else if (item.title) { %>
          <% title = item.title; %>
        <% } else { %>
          <% title = item.pathname; %>
        <% } %>
        <% if (item.pathname) { %>
          <a href="/<%- item.pathname %>"
            <% if (item.pathname == page.pathname) { %>class="active"<% } %>>
            <%= title %>
          </a>
        <% } else { %>
          <%= title %>
        <% } %>
      </li>
    <% }) %>
  </ul>
<% } %>
