---
title: Internationalization pain points
layout: devdays
---

<section data-background-image="devdays/images/macbook.svg">
  <h2>Internationalization Pain Points</h2>
  <p>By Manvel Saroyan</p>
  <pre>
    <code>
      /* /en/menu/header.json */
      {
        "menu-item-about": {
          "description": "Menu item label",
          "message": "about us"
        }
      }
    </code>
  </pre>
</section>
<section>
  Slide 2
</section>
<section>{crowdin-example[Example Description for the Crowdin team] This is the <a href="https//www.example1.com">first link</a> and <a href="https//www.example2.com">second link</a>}</section>

