---
title: Internationalization pain points
layout: devdays
---

<section data-background-image="devdays/images/macbook.svg">
  <h2>Internationalization Pain Points</h2>
  <p>By Manvel Saroyan</p>
  <pre>
    <code>
      /* /en/menu/header.json */
      {
        "menu-item-about": {
          "description": "Menu item label",
          "message": "about us"
        }
      }
    </code>
  </pre>
</section>
<section id="showcase">
  <h3>Layouts designed for the fixed width</h3>
  <p class="fragment fade-up" data-fragment-index="1">
    <select data-change="set-button-german">
      <option>Select language</option>
      <option>Deutsch</option>
    </select>
  </p>
  <p>
    <div style="display: inline-block; border: 1px solid grey; padding: 10px;">
      <label>Change me to smth meaninigful </label>
      <div style="display: inline-block">
        <button data-action="add-flexible-width" id="done-button" style="width: 100px; font-size: 30px;">
          Done
        </button>
      </div>
    </div>
  </p>
</section>
<section>
  <h3>LTR and RTL</h3>
</section>
<section>
  <h3>Localization</h3>
  <p>Name problem</p>
  <p>Date</p>
  <p>currency</p>
</section>
<section>
  <h3>SEO</h3>
  <p>og:locale</p>
  <p>Canonical</p>
  <p>link rel="alternate"</p>
</section>
<section>
  <h3>Accessibility</h3>
  <p>hreflang</p>
  <p>
    <pre>
      <code>
        <!--
          <html lang="en"> 
        -->
      </code>
    </pre>
  </p>
  
</section>
<section>
  <p class="fragment grow">grow</p>
  <p class="fragment shrink">shrink</p>
  <p class="fragment fade-out">fade-out</p>
  <p class="fragment fade-up">fade-up (also down, left and right!)</p>
  <p class="fragment current-visible">visible only once</p>
  <p class="fragment highlight-current-blue">blue only once</p>
  <p class="fragment highlight-red">highlight-red</p>
  <p class="fragment highlight-green">highlight-green</p>
  <p class="fragment highlight-blue">highlight-blue</p>
</section>
<section>{crowdin-example[Example Description for the Crowdin team] This is the <a href="https//www.example1.com">first link</a> and <a href="https//www.example2.com">second link</a>}</section>

