<% include slides/intro %>
<% include slides/l10n %>
<% include slides/a11y %>
<% include slides/rtl %>
<% include slides/layout %>
<% include slides/fonts %>
<% include slides/seo %>
<% include slides/smm %>
<% include slides/i18n %>
<% include slides/structure %>
<% include slides/cms-choice %>
<% include slides/pages %>
<% include slides/tms %>
<% include slides/cmints %>
<% include slides/resources %>

<section>
  <h3>Follow/Contact</h3>
  <ul>
    <li><strong>Github:</strong> <a href="https://github.com/Manvel" target="_blank">https://github.com/Manvel</a></li>
    <li><strong>Gitlab:</strong> <a href="https://gitlab.com/saroyanm" target="_blank">https://gitlab.com/saroyanm</a></li>
    <li><strong>Twitter:</strong> <a href="https://twitter.com/saroyanm" target="_blank">@saroyanm</a></li>
    <li><strong>Email:</strong> <a href="mailto:saroyanm@gmail.com">saroyanm@gmail.com</a></li>
    <li><strong>Email(eyeo):</strong> <a href="mailto:manvel@adblockplus.org">manvel@adblockplus.org</a></li>
    <li><strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/saroyanm/" target="_blank">/in/saroyanm</a></li>
  </ul>
  <a href=""></a>
</section>

<section>
  <h3>Thanks for attention!</h3>
</section>

<!--
<section>
  <p class="fragment grow">grow</p>
  <p class="fragment shrink">shrink</p>
  <p class="fragment fade-out">fade-out</p>
  <p class="fragment fade-up">fade-up (also down, left and right!)</p>
  <p class="fragment current-visible">visible only once</p>
  <p class="fragment highlight-current-blue">blue only once</p>
  <p class="fragment highlight-red">highlight-red</p>
  <p class="fragment highlight-green">highlight-green</p>
  <p class="fragment highlight-blue">highlight-blue</p>
  <aside class="notes">
    Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit »S« on your keyboard).
  </aside>
</section>
<section>&lcub;crowdin-example[Example Description for the Crowdin team] This is the <a href="https//www.example1.com">first link</a> and <a href="https//www.example2.com">second link</a>}</section>
-->