<% include slides/intro %>
<% include slides/l10n %>
<% include slides/a11y %>
<% include slides/fonts %>
<% include slides/layout %>
<% include slides/seo %>
<% include slides/smm %>
<% include slides/i18n %>
<% include slides/cms-choice %>
<% include slides/architecture %>

<section id="tms">
  <h3>Translation management tools</h3>
  <ul>
    <li><a href="https://translate.google.com/toolkit/">Google Translator Toolkit</a></li>
    <li><a href="https://crowdin.com/">Crowdin</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localizing_with_Pontoon">Pontoon</a></li>
    <li><a href="https://pootle.translatehouse.org/">Pootle</a></li>
  </ul>
</section>

<section>
  <h3>Libraries/Frameworks</h3>
  <ul>
    <li><a href="https://www.i18next.com/">i18next</a></li>
    <li><a href="https://github.com/mashpie/i18n-node">i18n-node</a></li>
    <li><a href="http://airbnb.io/polyglot.js/" title="Airbnb">Polyglot.js</a></li>
    <li><a href="https://github.com/wikimedia/jquery.i18n" title="wikimedia">jquery.i18n</a></li>
  </ul>
</section>

<section>
  <h3>Comprehensive i18n website development tool</h3>
</section>

<section>
  <h3>Lightweight and simple</h3>
</section>

<section>
  <h3>Out of the box</h3>
</section>

<section>
  <h3>CMintS</h3>
  <p><a href="https://cmints.io/">https://cmints.io/</a></p>
</section>

<section>
  <h3>Thanks for attention!</h3>
</section>

<% include slides/resources %>

<section>
  <p class="fragment grow">grow</p>
  <p class="fragment shrink">shrink</p>
  <p class="fragment fade-out">fade-out</p>
  <p class="fragment fade-up">fade-up (also down, left and right!)</p>
  <p class="fragment current-visible">visible only once</p>
  <p class="fragment highlight-current-blue">blue only once</p>
  <p class="fragment highlight-red">highlight-red</p>
  <p class="fragment highlight-green">highlight-green</p>
  <p class="fragment highlight-blue">highlight-blue</p>
  <aside class="notes">
    Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit »S« on your keyboard).
  </aside>
</section>
<section>{crowdin-example[Example Description for the Crowdin team] This is the <a href="https//www.example1.com">first link</a> and <a href="https//www.example2.com">second link</a>}</section>
